{% extends 'base.html' %}

{% block title %}
Check Organizer
{% endblock %}

{% block content %}
<!-- Page Layout here -->
<div class="row">

    <div class="col s0 m2 l2">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel
  
                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->

    </div>

    <div class="col s12 m8 l8">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content
  
                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->


        <div class="card" style="background-color: rgb(255, 251, 227);">
            <div class="card-content">
                <span class="card-title  grey-text text-darken-4">Participantes</span>

                <div id="participantes">

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Apodo</label>
                                </div>
                                <div class="col s2 valign-wrapper">
                                    <a class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">add</i></a>
                                </div>



                                <div class="input-field col s6">
                                    <i class="material-icons prefix">attach_money</i>
                                    <input id="icon_telephone" type="number" class="validate">
                                    <label for="icon_telephone">Monto</label>
                                </div>

                                <div class="input-field col s6">
                                    <i class="material-icons prefix">shopping_basket</i>
                                    <input id="icon_telephone2" type="number" class="validate">
                                    <label for="icon_telephone2">Producto</label>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>

                <div class="row" style="margin-bottom: -1em;">
                    <button class="col s6 activator btn waves-effect waves-light right green darken-1" type="submit"
                        name="action">Resumen
                    </button>


                </div>


            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Resumen<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>


    </div>
    <div class="col s0 m2 l2">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel
    
                  This content will be:
              3-columns-wide on large screens,
              4-columns-wide on medium screens,
              12-columns-wide on small screens  -->

    </div>
    {% endblock %}