{% extends 'base.html' %}

{% block title %}
Check Organizer
{% endblock %}

{% block content %}
<!-- Page Layout here -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large green">
      <i class="large material-icons modal-trigger" data-target="modal1">check_box</i>
    </a>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>

<div class="row">

    <div class="col s0 m2 l2">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel
  
                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->

    </div>

    <div class="col s12 m8 l8">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content
  
                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->


        <div class="card" style="background-color: rgb(255, 251, 227);">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Participantes (1)<i class="material-icons right">more_vert</i></span>

                <div id="participantes">

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Apodo</label>
                                </div>

                                <div class="input-field col s6">
                                    <i class="material-icons prefix">attach_money</i>
                                    <input id="icon_telephone" type="number" class="validate">
                                    <label for="icon_telephone">Monto</label>
                                </div>

                                <div class="input-field col s6">
                                    <i class="material-icons prefix">shopping_basket</i>
                                    <input id="icon_telephone2" type="number" class="validate">
                                    <label for="icon_telephone2">Producto</label>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>

                <div class="row" style="margin-bottom: -1em;">
                    <button class="col s5 btn waves-effect waves-light left green darken-1" type="submit"
                        name="action">Otro
                    </button>


                </div>


            </div>
            <div class="card-reveal" style="background-color: rgb(233, 255, 231);">
                <span class="card-title grey-text text-darken-4">Ayuda<i class="material-icons right">close</i></span>
                <p>Ayuda Wey</p>
            </div>
        </div>


    </div>
    <div class="col s0 m2 l2">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel
    
                  This content will be:
              3-columns-wide on large screens,
              4-columns-wide on medium screens,
              12-columns-wide on small screens  -->

    </div>
    {% endblock %}